* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--accent-color: #ff42a5;
	--secondary-color: #4ec5f7;
}

.accent-color {
	color: var(--accent-color);
}

.accent-bg {
	background-color: var(--accent-color);
}

.secondary-bg {
	background-color: var(--secondary-color);
}

.gradient-bg {
	background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Global Styles */
body {
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #534c64;
}

.section-container {
	width: 1440px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.btn {
	display: inline-flex;
	padding: 20px 40px;
	border-radius: 48px;
	color: #fff;
}

/* Header Area */

header {
	background: #fff;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.logo a {
	display: flex;
	align-items: center;
}

.logo h1 {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 45px;
	font-weight: 700;
	color: #0b0223;
	margin-left: 20px;
}

nav ul {
	list-style: none;
	display: flex;
	column-gap: 32px;
	align-items: center;
}

nav ul li a {
	color: #3c354f;
}

.menu-btn a {
	display: flex;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
}

.menu-btn a {
	display: flex;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
}

.menu-btn {
	padding: 15px 20px;
	background: #e7e6e9;
	border-radius: 8px;
}

.menu-btn a img {
	width: 25px;
	height: 20px;
}

/* Banner Area */

.banner-area {
	background-image: url("../img/banner-bg.png");
	background-positions: center left;
	background-repeat: no-repeat;
	background-size: contain;
}

.banner-area .section-container {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-info h3 {
	color: #0b0223;
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}

.banner-info h2 {
	font-size: 95px;
	font-weight: 800;
	text-transform: uppercase;

	margin-bottom: 20px;
}

.banner-area .section-container {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-features li span {
	display: flex;
	align-items: center;
}

.list-features {
	list-style: none;
}

.list-features li {
	margin-bottom: 15px;
}

.list-features li span img {
	margin-right: 8px;
}
.btn-container {
	display: flex;
	column-gap: 24px;
	margin-top: 40px;
}

/* Online games Area */

.online-games-area {
	padding: 120px 0;
}
.section-info {
	text-align: center;
	margin-bottom: 48px;
}

.section-info h2 {
	color: #0b0223;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 16px;
}
.card-container {
	display: flex;
}

.card-container {
	display: flex;
	justify-content: space-between;
	columns-gap: 24px;
	margin-top: 20px;
}

.card {
	background-color: white;
	position: relative;
}

.img-container {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}

.img-container img {
	display: block;
	height: auto;
	border-radius: 20px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 20px;
	border: 4px solid var(--Linear, #ff42a5);
}

.img-container:hover .overlay {
	opacity: 1;
}

.card:hover .icon-container {
	display: block; /* Show icon on hover */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	color: white;
	border-radius: 50%;
	margin-top: -30px;
}

.icon-container {
	text-align: center;
	display: none;
}

.icon-container p {
	font-size: 20px;
	font-weight: 600;
}
