* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--accent-color: #ff42a5;
	--secondary-color: #4ec5f7;
}

.accent-color {
	color: var(--accent-color);
}

.accent-bg {
	background-color: var(--accent-color);
}

.secondary-bg {
	background-color: var(--secondary-color);
}

.gradient-bg {
	background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Global Styles */
body {
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #534c64;
}

.section-container {
	width: 1440px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.btn {
	display: inline-flex;
	padding: 20px 40px;
	border-radius: 48px;
	color: #fff;
}

ul li {
	list-style: none;
}
/* Header Area */

header {
	background: #fff;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.logo a {
	display: flex;
	align-items: center;
}

.logo h1 {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 45px;
	font-weight: 700;
	color: #0b0223;
	margin-left: 20px;
}

nav ul {
	list-style: none;
	display: flex;
	column-gap: 32px;
	align-items: center;
}

nav ul li a {
	color: #3c354f;
}

.menu-btn a {
	display: flex;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
}

.menu-btn a {
	display: flex;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
}

.menu-btn {
	padding: 15px 20px;
	background: #e7e6e9;
	border-radius: 8px;
}

.menu-btn a img {
	width: 25px;
	height: 20px;
}

/* Banner Area */

.banner-area {
	background-image: url("../img/banner-bg.png");
	background-positions: center left;
	background-repeat: no-repeat;
	background-size: contain;
}

.banner-area .section-container {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-info h3 {
	color: #0b0223;
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}

.banner-info h2 {
	font-size: 95px;
	font-weight: 800;
	text-transform: uppercase;

	margin-bottom: 20px;
}

.banner-area .section-container {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-features li span {
	display: flex;
	align-items: center;
}

.list-features {
	list-style: none;
}

.list-features li {
	margin-bottom: 15px;
}

.list-features li span img {
	margin-right: 8px;
}
.btn-container {
	display: flex;
	column-gap: 24px;
	margin-top: 40px;
}

/* Online games Area */

.online-games-area {
	padding: 120px 0;
}
.section-info {
	text-align: center;
	margin-bottom: 48px;
}

.section-info h2 {
	color: #0b0223;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 16px;
}

.card-container {
	display: flex;
	justify-content: space-between;
	column-gap: 24px;
}

.card {
	background-color: white;
	position: relative;
}

.img-container {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}

.img-container img {
	display: block;
	height: auto;
	border-radius: 20px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 20px;
	border: 4px solid var(--Linear, #ff42a5);
}

.img-container:hover .overlay {
	opacity: 1;
}

.card:hover .icon-container {
	display: block; /* Show icon on hover */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	color: white;
	border-radius: 50%;
	margin-top: -30px;
}

.icon-container {
	text-align: center;
	display: none;
}

.icon-container p {
	font-size: 20px;
	font-weight: 600;
}

/* Play Games Area */

.play-games-area {
	padding: 60px 0;
}

.play-games-area .section-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.play-secion-info {
	text-align: left;
	margin-left: 125px;
	margin-bottom: 0;
}

.section-img {
	position: relative;
	padding-right: 125px;
	padding-bottom: 124px;
}

.img-absolete {
	position: absolute;
	bottom: 0;
	right: 0;
}

/* games-options */

.games-options {
	background-color: #fff9fc;
	padding: 120px 0;
}

.games-options-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
}
.game {
	display: flex;
	align-items: center;
	text-align: center;
	color: #0b0223;
	font-size: 18px;
	font-weight: 600;
	padding: 10px 20px 10px 10px;
	background: #fff;
	margin: 10px 0;
	border-radius: 50px;
	border: 1px solid white;
	transition: 0.3s ease-in-out;
}
.game:hover {
	border: 1px solid var(--Linear, #ff42a5);
}
.game img {
	margin-right: 16px;
}

/* footer area */

footer {
	background-color: #0b0223;
	text-align: center;
	padding: 120px 0;
}

footer .section-container {
	width: 800px;
}

footer .logo,
.menu ul,
.socials {
	margin-bottom: 60px;
}

footer .logo a {
	justify-content: center;
}

footer .logo h1 {
	color: #fff;
}

.menu ul,
.statement ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
}

.menu ul a {
	color: #fff;
}

.socials {
	column-gap: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials a img {
	width: initial;
	height: 40px;
}

.statement ul {
	justify-content: center;
	column-gap: 40px;
}

.statement a,
.copy {
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	font-weight: 400;
}

.statement {
	margin-bottom: 30px;
}

/* Responsive code */

@media (max-width: 768px) {
	body {
		font-size: 16px;
	}

	.nav-container,
	.section-container,
	.banner-area .section-container {
		width: 100%;
		flex-direction: column;
		padding: 0 20px;
	}

	img {
		max-width: 100%;
	}
	/* Header Area */

	.banner-area {
		padding: 60px 0;
		background-size: auto;
	}

	.banner-area .section-container {
		flex-direction: column;
	}
	.nav-container {
		flex-direction: column;
		padding: 20px 0;
	}

	.logo {
		text-align: center;
		margin-bottom: 20px;
	}

	.logo h1 {
		margin-left: 0;
	}

	nav ul {
		flex-direction: column;
		align-items: center;
		column-gap: 0;
		margin: 20px 0;
	}

	nav ul li {
		margin-bottom: 15px;
	}

	/* Banner Area */
	.banner-info {
		text-align: center;
	}

	.banner-info h3,
	.section-info h2 {
		font-size: 36px;
	}
	.banner-info h2 {
		font-size: 65px;
	}

	.list-features li {
		text-align: center;
	}

	.btn-container {
		margin-top: 20px;
	}

	.banner-img img {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		display: flex;
	}

	/* Online games Area */
	.online-games-area {
		padding: 60px 0;
	}

	.card-container {
		flex-direction: column;
		margin-top: 20px;
		align-items: center;
	}

	.card {
		width: 90%;
		text-align: center;
		margin-bottom: 30px;
	}

	.card-container .img-container {
		margin-bottom: 10px;
	}

	.img-container img {
		width: 100%;
	}

	/* Play Games Area */
	.section-img {
		position: relative;
		padding-right: 0;
		padding-bottom: 120px;
	}

    .section-img img:first-child {
        width: 90%;
    }

	.img-absolete {
		width: 200px;
	}

	.play-secion-info {
		text-align: center;
		margin-left: 0;
	}

	/* games-options */
	.games-options-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.game {
		padding: 10px 0;
		margin: 10px 0;
		text-align: center;
		font-size: 12px;
	}

	.game img {
		width: 30px;
		margin-right: 5px;
	}

	/* Footer Area */

	footer {
		padding: 40px 0;
	}
	footer .section-container {
		width: 100%;
	}

	footer .logo,
	footer .menu ul,
	footer .socials {
		margin-bottom: 20px;
	}

	footer .menu ul,
	footer .statement ul,
	.socials {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
	}

	footer .statement ul {
		grid-template-columns: repeat(2, 1fr);
	}

	footer .socials {
		column-gap: 20px;
	}
	.socials a img {
		width: 24px;
		height: auto;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
		font-size: 18px;
	}

	.nav-container,
	.section-container,
	.banner-area .section-container {
		width: 100%;
		flex-direction: column;
		padding: 0 20px;
	}

	img {
		max-width: 100%;
	}
	/* Header Area */

	.banner-area {
		padding: 60px 0;
		background-size: auto;
	}

	.banner-area .section-container {
		flex-direction: column;
	}
	.nav-container {
		flex-direction: column;
		padding: 20px 0;
	}

	.logo {
		text-align: center;
		margin-bottom: 20px;
	}

	.logo h1 {
		margin-left: 0;
	}

	nav ul {
		flex-direction: column;
		align-items: center;
		column-gap: 0;
		margin: 20px 0;
	}

	nav ul li {
		margin-bottom: 15px;
	}

	/* Banner Area */
	.banner-info {
		text-align: center;
	}

	.banner-info h3,
	.section-info h2 {
		font-size: 36px;
	}
	.banner-info h2 {
		font-size: 65px;
	}

	.list-features li {
		text-align: center;
	}

	.btn-container {
		margin-top: 20px;
	}

	.banner-img img {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		display: flex;
	}

	/* Online games Area */
	.online-games-area {
		padding: 60px 0;
	}

	.card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

	.card {
		width: 90%;
		text-align: center;
		margin-bottom: 30px;
	}

	.card-container .img-container {
		margin-bottom: 10px;
	}

	.img-container img {
		width: 100%;
	}

	/* Play Games Area */
	.section-img {
		position: relative;
		padding-right: 0;
		padding-bottom: 120px;
	}

    .section-img img:first-child {
        width: 90%;
    }

	.img-absolete {
		width: 200px;
	}

	.play-secion-info {
		text-align: center;
		margin-left: 0;
	}

	/* games-options */
	.games-options-container {
		grid-template-columns: repeat(4, 1fr);
	}

	.game {
		padding: 10px 0;
		margin: 10px 0;
		text-align: center;
		font-size: 12px;
	}

	.game img {
		width: 30px;
		margin-right: 5px;
	}

	/* Footer Area */

	footer {
		padding: 40px 0;
	}
	footer .section-container {
		width: 100%;
	}

	footer .logo,
	footer .menu ul,
	footer .socials {
		margin-bottom: 20px;
	}

	footer .menu ul,
	footer .statement ul,
	.socials {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
	}

	footer .statement ul {
		grid-template-columns: repeat(2, 1fr);
	}

	footer .socials {
		column-gap: 20px;
	}
	.socials a img {
		width: 24px;
		height: auto;
	}
}
