* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--accent-color: #ff42a5;
}
.accent-color {
	color: var(--accent-color);
}
/* Global Styles */
body {
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	color: #534c64;
}
a {
	text-decoration: none;
}

/* Header Area */

header {
	background: #fff;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.logo a {
	display: flex;
	align-items: center;
}

.logo h1 {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 45px;
	font-weight: 700;
	color: #0b0223;
	margin-left: 20px;
}

nav ul {
	list-style: none;
	display: flex;
	column-gap: 32px;
    align-items: center;
}

nav ul li a {
	color: #3c354f;
}

.menu-btn a {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.menu-btn a {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    padding: 15px 20px;
    background: #E7E6E9;
    border-radius: 8px;
}

.menu-btn a img {
    width: 25px;
    height: 20px;
}